.widget-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

// utilities

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

.base-shadow { box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.06); }
.light-shadow { box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06); }
.large-shadow { box-shadow: 0px 10px 15px -1px rgba(0, 0, 0, 0.11); }

// end of utilities

.dashboard-page-wrapper {
  background-color: $page-bg;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:100%;
  height:100%;
}

.dashboard-page {
  padding: 0 20px;
  width: 100%;
  overflow-y: auto;
}

.dashboard-content {
  padding:20px 16px;
}


.widget {
  border-radius: 10px;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h3 { margin-bottom: 0; }
    * { font-family: 'Poppins', sanas-serif; }
    a { text-decoration: none; }
    i { font-size:22px; vertical-align: text-top; }
  }
  .body {
    padding:16px 14px;
    background-color: $light-600;
    margin-top: 12px;
    border-radius: 8px;
  }
}
