$table-row-stripe-color:#f0f5f8;
$primary:#ff5252;
$primary-light-100:#ff9090;
$primary-light-200:#ff9090;
$primary-light-300:#ff8989;
$primary-light-400:#ff8282;
$primary-light-500:#ff7c7c;
$primary-light-600:#ff7575;
$primary-light-700:#ff7575;
$primary-light-800:#ff6767;
$primary-light-900:#ff6060;
$primary-light-1000:#ff5959;
$primary-dark-100:#f54f4f;
$primary-dark-300:#e04848;
$primary-dark-200:#eb4b4b;
$primary-dark-400:#d64545;
$primary-dark-500:#cc4242;
$primary-dark-600:#c23e3e;
$primary-dark-700:#b83b3b;
$primary-dark-800:#ad3838;
$primary-dark-900:#a33434;
$primary-dark-1000:#993131;

$secondary:#353346;
$secondary-light-100:#868590;
$secondary-light-200:#7e7c89;
$secondary-light-300:#767481;
$secondary-light-400:#6e6c7a;
$secondary-light-500:#656472;
$secondary-light-600:#5d5c6b;
$secondary-light-700:#555464;
$secondary-light-800:#4d4b5c;
$secondary-light-900:#454355;
$secondary-light-1000:#3d3b4d;
$secondary-dark-100:#333143;
$secondary-dark-200:#312f40;
$secondary-dark-300:#2f2d3e;
$secondary-dark-400:#2d2b3b;
$secondary-dark-500:#2a2938;
$secondary-dark-600:#282735;
$secondary-dark-700:#262532;
$secondary-dark-800:#242330;
$secondary-dark-900:#22212d;
$secondary-dark-1000:#201f2a;

$dark-main:#222032;
$dark-light-100:#7a7984;
$dark-light-200:#72707c;
$dark-light-300:#696774;
$dark-light-400:#605e6b;
$dark-light-500:#575663;
$dark-light-600:#4e4d5b;
$dark-light-700:#454453;
$dark-light-800:#3d3b4b;
$dark-light-900:#343242;
$dark-light-1000:#2b293a;
$dark-100:#211f30;
$dark-200:#1f1d2e;
$dark-300:#1e1c2c;
$dark-400:#1d1b2a;
$dark-500:#1b1a28;
$dark-600:#1a1826;
$dark-700:#181724;
$dark-800:#171622;
$dark-900:#161420;
$dark-1000:#14131e;

$light-main:#F1F5F8;
$light-100:#f8fafc;
$light-200:#f8fafb;
$light-300:#f7f9fb;
$light-400:#f6f9fb;
$light-500:#f5f8fa;
$light-600:#f5f8fa;
$light-700:#f4f7fa;
$light-800:#f3f7f9;
$light-900:#f2f6f9;
$light-1000:#f2f5f8;
$light-dark-100:#e7ebee;
$light-dark-200:#dee1e4;
$light-dark-300:#d4d8da;
$light-dark-400:#caced0;
$light-dark-500:#c1c4c6;
$light-dark-600:#b7babc;
$light-dark-700:#aeb0b3;
$light-dark-800:#a4a7a9;
$light-dark-900:#9a9d9f;
$light-dark-1000:#919395;

$success:#05c46b;
$success-light-100:#69dca6;
$success-light-200:#5fd9a0;
$success-light-300:#55d79a;
$success-light-400:#4bd594;
$success-light-500:#41d28f;
$success-light-600:#37d089;
$success-light-700:#2dcd83;
$success-li̇ght-800:#23cb7d;
$success-light-900:#19c977;
$success-light-1000:#0fc671;
$success-dark-100:#05bc67;
$success-dark-200:#05b462;
$success-dark-300:#04ac5e;
$success-dark-400:#04a55a;
$success-dark-500:#049d56;
$success-dark-600:#049551;
$success-dark-700:#038549;
$success-dark-900:#037d44;
$success-dark-1000:#037640;

$info:#2a5df7;
$info-light-100:#88a4fb;
$info-light-200:#7f9efa;
$info-light-300:#7797fa;
$info-light-400:#6e91fa;
$info-light-500:#668af9;
$info-light-600:#5d84f9;
$info-light-700:#557df9;
$info-light-800:#4470f8;
$info-light-900:#3b6af8;
$info-light-1000:#3363f7;
$info-dark-100:#2859ed;
$info-dark-200:#2756e3;
$info-dark-300:#2552d9;
$info-dark-400:#234ecf;
$info-dark-500:#224ac6;
$info-dark-600:#2047bc;
$info-dark-700:#1e43b2;
$info-dark-800:#1d3fa8;
$info-dark-900:#1b3c9e;
$info-dark-1000:#193894;

$warning-warning-main:#ff793f;
$warning-warning-light-100:#ffaf8c;
$warning-warning-light-200:#ffa984;
$warning-warning-light-300:#ffa47c;
$warning-warning-light-400:#ff9f75;
$warning-warning-light-500:#ff996d;
$warning-warning-light-600:#ff9465;
$warning-warning-light-700:#ff8e5e;
$warning-warning-light-800:#ff8956;
$warning-warning-light-900:#ff844e;
$warning-warning-light-1000:#ff7e47;
$warning-warning-dark-100:#f5743c;
$warning-warning-dark-200:#eb6f3a;
$warning-warning-dark-300:#e06a37;
$warning-warning-dark-400:#d66635;
$warning-warning-dark-500:#cc6132;
$warning-warning-dark-600:#c25c30;
$warning-warning-dark-700:#b8572d;
$warning-warning-dark-800:#ad522b;
$warning-warning-dark-900:#a34d28;
$warning-warning-dark-1000:#994926;

$error:#f4384b;
$error-light-100:#ff5252;
$error-light-200:#ff5252;
$error-light-300:#ff5252;
$error-light-400:#ff5252;
$error-light-500:#ff5252;
$error-light-600:#ff5252;
$error-light-700:#ff5252;
$error-light-800:#ff5252;
$error-light-900:#ff5252;
$error-light-1000:#ff5252;
$error-dark-100:#ea3648;
$error-dark-200:#e03445;
$error-dark-300:#d73142;
$error-dark-400:#cd2f3f;
$error-dark-500:#c32d3c;
$error-dark-600:#b92b39;
$error-dark-700:#b02836;
$error-dark-800:#a62633;
$error-dark-900:#9c2430;
$error-dark-1000:#92222d;

$page-bg:#E6ECEF;
